<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <!-- <form action="{% url 'home' %}" method="get"></form>
            {% csrf_token %}
            <input type="text" placeholder="search..." name="q"/>
        </form> -->

        <!-- <p><a href="{% url 'home' %}">ALL</a></p>

        {% for topic in topics%}

        <p><a href="{% url 'home' %}?q={{topic.name}}">{{topic}}</a></p>
        {% endfor %} -->

            <ul class="topics__list">
                <li>
                  <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
                </li>
                {% for topic in topics %}
                <li>
                  <a href="{% url 'home' %}?q={{topic.name}}" class="active">{{topic}}<span>{{topic.room_set.all.count}}</span></a>
                </li>
                {% endfor %}




    {% endblock %}
</body>
</html>